<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Employee Portal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="container">
    <br><br>
    <div class="row">
        <div class="col s4">
        </div>
        <div class="col s4">
            <div class="loginForm">
                <form (ngSubmit)="userLogin()" name="loginForm">
                    <div class="form-group">
                        <label for="firstName">Username</label>
                        <input type="text" [(ngModel)]="userName" name="userName" class="validate">
                        <br>
                        <label class="form-text">Password</label>
                        <input type="password" [(ngModel)]="userPassword" name="userPassword" class="validate">
                        <br>
                        <br>
                        <div class="row">
                            <div class="col s4"></div>
                            <div class="col s4">
                                <button class="btn btn-success" type="submit">SIGN IN</button>
                            </div>
                            <div class="col s4"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col s4"></div>
    </div>
</div>